[project]
id = "std"
name = "Mach Standard Library"
version = "0.1.0"
src = "src"
dep = "dep"
target = "native"

[targets.linux]
triple = "x86_64-pc-linux-gnu"
mode = "library"
artifacts = "out/mach-std/linux"
output = "out/mach-std/linux/bin/mach-std"
debug = false
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false

[targets.darwin]
triple = "x86_64-apple-darwin"
mode = "library"
artifacts = "out/mach-std/darwin"
output = "out/mach-std/darwin/bin/mach-std"
debug = true
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false

[targets.windows]
triple = "x86_64-pc-windows-msvc"
artifacts = "out/mach-std/windows"
output = "out/mach-std/windows/bin/mach-std.exe"
mode = "library"
debug = true
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false
link = ["kernel32.lib", "shell32.lib"]
