[project]
id = "std"
name = "Mach Standard Library"
version = "0.2.5"
src = "src"
dep = "dep"
target = "native"

[targets.linux]
triple = "x86_64-pc-linux-gnu"
entrypoint = "lib.mach"
mode = "library"
artifacts = "out/std/linux"
output = "out/std/linux/bin/libmachstd.a"
debug = false
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false

[targets.darwin]
triple = "x86_64-apple-darwin"
entrypoint = "lib.mach"
mode = "library"
artifacts = "out/std/darwin"
output = "out/std/darwin/bin/libmachstd.a"
debug = true
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false

[targets.windows]
triple = "x86_64-pc-windows-msvc"
entrypoint = "lib.mach"
artifacts = "out/std/windows"
output = "out/std/windows/bin/machstd.lib"
mode = "library"
debug = true
optimize = true
emit-ast = true
emit-ir = true
emit-asm = true
emit-object = true
no-pie = false
link = ["kernel32.lib", "shell32.lib"]
